@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-family: "Young-serif";
  src: url("/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}
body {
  background-color: antiquewhite;
  padding: 5rem 0;
  font-family: Helvetica;
}

.container__recetas {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: white;
  padding: 2.5rem;
  border-radius: 20px;
  width: 45%;
  margin: 0 auto;
}

.recetas__img {
  width: 100%;
  border-radius: 20px;
}

h1 {
  font-size: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "Young-serif";
  font-weight: 300;
}
h1:hover {
  color: purple;
}

.container__recipe {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 40px 0;
  background-color: rgba(255, 182, 193, 0.182);
  padding: 1rem 2rem;
  border-radius: 20px;
}

.container__recipe h2 {
  color: purple;
}

h3 {
  color: brown;
  font-family: "outfit";
  font-size: 1.5rem;
}

ul {
  line-height: 2rem;
}

ol {
  line-height: 1.5rem;
  font-size: 0.85rem;
}

@media screen and (max-width: 1077px) {
  .container__recipe {
    flex-direction: column;
    gap: 5px;
  }
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 685px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .container__recipe {
    padding: 20px;
  }
}
@media screen and (max-width: 376px) {
  body {
    padding: 0px;
    margin: 0;
  }
  .container__recetas {
    border-radius: 0px;
    width: 375px;
    margin: 0;
  }
  .recetas__img {
    border-radius: 0px;
    padding: 0;
    margin: -2.5rem;
    width: 450px;
  }
  h1 {
    padding-top: 5rem;
    line-height: 1em;
    font-size: 2.2rem;
  }
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-family: "Young-serif";
    src: url("/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  }
  body {
    background-color: antiquewhite;
    padding: 5rem 0;
    font-family: Helvetica;
  }
  .container__recetas {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    padding: 2.5rem;
    border-radius: 20px;
    width: 45%;
    margin: 0 auto;
  }
  .recetas__img {
    width: 100%;
    border-radius: 20px;
  }
  h1 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Young-serif";
    font-weight: 300;
  }
  h1:hover {
    color: purple;
  }
  .container__recipe {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 40px 0;
    background-color: rgba(255, 182, 193, 0.182);
    padding: 1rem 2rem;
    border-radius: 20px;
  }
  .container__recipe h2 {
    color: purple;
  }
  h3 {
    color: brown;
    font-family: "outfit";
    font-size: 1.5rem;
  }
  ul {
    line-height: 2rem;
  }
  ol {
    line-height: 1.5rem;
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 376px) and (max-width: 1077px) {
  .container__recipe {
    flex-direction: column;
    gap: 5px;
  }
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 376px) and (max-width: 685px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .container__recipe {
    padding: 20px;
  }
}
@media screen and (max-width: 376px) and (max-width: 376px) {
  body {
    padding: 0px;
    margin: 0;
  }
  .container__recetas {
    border-radius: 0px;
    width: 375px;
    margin: 0;
  }
  .recetas__img {
    border-radius: 0px;
    padding: 0;
    margin: -2.5rem;
    width: 450px;
  }
  h1 {
    padding-top: 5rem;
    line-height: 1em;
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=styles.css.map */