$color-primary: antiquewhite;
$color-secundary: purple;

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');

    font-family: 'Young-serif';
    src: url('/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

body {
    background-color: $color-primary;
    padding: 5rem 0;
    font-family:Helvetica;
}

.container__recetas {
    background-color: white;
    padding: 2.5rem;
    border-radius: 20px;
    width: 45%;
    margin: 0 auto;
}

.recetas__img {
    width: 100%;
    border-radius: 20px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Young-serif';
    font-weight: 300;
    

    &:hover{
        color: $color-secundary;
    }
}

.container__recipe {
    margin: 40px 0;
    background-color: rgba(255, 182, 193, 0.182);
    padding: 1rem 2rem;
    border-radius: 20px;

}

.container__recipe {
    h2 {
        color: purple;


    }
}

h3 {
    color: brown;
    font-family: 'outfit';
    font-size: 1.5rem;

    
}

ul {
   line-height: 2rem;
}

ol {
    line-height: 1.5rem;
    font-size: 0.85rem;
 }

@media screen and (max-width:376px) {

    body {
        padding: 0px;
        margin: 0;

    }

    .container__recetas {
        border-radius: 0px;
        width: 375px;
        margin: 0;
    }

    .recetas__img {
        border-radius: 0px;
        padding: 0;
        margin: -2.5rem;
        width: 450px;
    }

    h1 {
        padding-top: 1rem;
        line-height: 1em;
    }

}